@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin popins-normal {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

@mixin open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

@mixin font-400-12-16{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@mixin autor-date{
  margin-right: 16px;
  @include open-sans-normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $col-line-1;
}