$col-line-1: #151515;

$col-text-1: #6A983C;
$col-text-2: #151515;
$col-text-3: #A9A9A9;
$col-text-4: #6A983C;
$col-text-5: #575757;
$col-text-6: #FDBC15;

$col-div-1: #D1D1D1;

$col-backg-1: #F9F9F9;
$col-backg-2: #FFFFFF;
$col-backg-3: #F5F5F5;
$col-backg-4: #F4F8EC;
$col-backg-5: #E6704B;
$col-backg-6: #92C064;

$col-bord-1: #46760A;
$col-bord-2: #F1F1F1;
$col-bord-3: #EBEBEB;
