$col-line-1: #151515;

$col-text-1: #6A983C;
$col-text-2: #151515;
$col-text-3: #A9A9A9;
$col-text-4: #6A983C;

$col-div-1: #D1D1D1;

$col-backg-1: #F9F9F9;
$col-backg-2: #FFFFFF;
$col-backg-3: #F5F5F5;
$col-backg-4: #F4F8EC;

