@import "../partials/variables";
@import "../partials/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 45px;
  background: $col-backg-2;

  ul {
    @include reset-list;

    li {
      display: inline-flex;
      @include open-sans-normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-line-1;

      &:first-child {
        margin-left: 45px;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: $col-text-3;
      }
    }
  }
}

.category-name {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background: $col-backg-2;

  .right-content {
    display: flex;
    align-items: center;
  }

  h1 {
    padding: 0;
    margin: 0 0 0 45px;
    @include popins-normal;
    font-weight: 600;
    font-size: 32px;
    color: $col-line-1;
  }

  i {
    font-size: 12px;
    color: $col-text-1;

    &:last-child {
      color: $col-text-3;
    }
  }

  span {
    margin-right: 25px;
    @include open-sans-normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $col-text-3;

  }

  .current-view {
    color: $col-line-1;
  }

  .current-view-icon {
    color: $col-text-1;
  }

  .nr-products {
    text-align: center;
    margin-right: 4px;
    width: 32px;
    height: 18px;
    background: $col-backg-4;
    border-radius: 12px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-4;
  }

}

.filters-select {
  display: flex;
  justify-content: flex-start;

  span {
    @include open-sans-normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $col-line-1;
  }

  label {
    margin-left: 10px;
    margin-right: 16px;
    @include open-sans-normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $col-line-1;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    margin-left: 8px;
    font-size: 6px;

    &:hover {
      cursor: pointer;
    }
  }

  .filter-one {
    margin-left: 45px;
    @include filter-select-container;
  }

  .filter-second {
    @include filter-select-container;
  }

  .filter-three {
    @include filter-select-container;

    span {
      @include popins-normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .oval {
    width: 46px;
    @include filter-oval-values;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-line-1;
  }

  input {
    padding: 0;
    margin: 0 0 0 18px;
  }

  .filter-last {
    @include filter-select-container;
    @include open-sans-normal;

    .number {
      width: 28px;
      @include filter-oval-values;
      @include open-sans-normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }

    .vertline {
      height: 20px;
      width: 24px;
      border-left: 1px solid $col-div-1;


    }
  }
}

.active-filters {
  display: flex;
  text-align: center;

  span {
    margin-left: 45px;
    margin-top: 16px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-3;
  }

  .applied-filter {
    margin-left: 12px;
    margin-top: 16px;
    width: 118px;
    height: 18px;
    background: $col-backg-4;
    border-radius: 12px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-1;
  }
}

.categories-column {
  flex-direction: column;

  .categories-title {
    margin-left: 45px;
    @include popins-normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $col-line-1;
  }

  .categories {
    padding-top: 48px;

    .category-products-num {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;

      &:first-child {
        margin-top: 16px;
      }

      span {
        margin-left: 45px;
        @include open-sans-normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $col-line-1;
      }

      .numbers-of {
        text-align: center;
        width: 38px;
        height: 18px;
        background: $col-backg-4;
        border-radius: 12px;
        @include popins-normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $col-text-1;
      }
    }
  }

  .brands {
    flex-direction: column;
    padding-top: 48px;
    padding-left: 45px;

    .brands-filters-select {
      align-content: center;
      padding-bottom: 16px;
    }

    label {
      @include open-sans-normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $col-line-1;
    }

    input[type=radio] {
      height: 20px;
      width: 20px;
      border: 2px solid $col-div-1;
      padding: 0.5em;
      -webkit-appearance: none;
    }

  }

  .rating {
    flex-direction: column;
    padding-top: 48px;
    padding-left: 45px;

    input[type=radio] {
      height: 20px;
      width: 20px;
      border: 2px solid $col-div-1;
      padding: 0.5em;
      -webkit-appearance: none;
    }

    i {
      font-size: 13px;
    }

    .icon-star-full {
      color: $col-text-6;
    }

    .icon-star-light {
      color: $col-div-1;
    }
  }

  .price-select {
    flex-direction: column;
    padding-top: 48px;
    padding-left: 45px;

    .price-select-labels {
      display: flex;
    }

    .price-min-max-select {
      flex-direction: column;

      .price-select-head {
        padding-top: 16px;
        display: flex;

        span {
          margin-right: 33px;
          width: 109px;
          @include popins-normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          color: $col-line-1;
        }
      }

      .min-max-price-inputs {
        padding-bottom: 31px;
        display: flex;

        .min-max-price {
          text-align: center;
          margin-right: 14px;
          width: 109px;
          height: 42px;
          background: $col-backg-1;
          border: 1px solid $col-div-1;
          border-radius: 12px;
        }

        p {
          margin-right: 14px;
          @include open-sans-normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: $col-text-3;
        }

        input {
          background: transparent;
          border: none;
          outline: none;
          width: 72px;
          height: 42px;
          @include open-sans-normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: $col-text-3;
        }

        input:active {
          border: none;
          outline: none;
        }
      }


    }

    .price-button-select {
      display: flex;
      align-content: center;

      .price-apply {
        text-align: center;
        margin-right: 34px;
        width: 78px;
        height: 48px;
        background: $col-text-1;
        border: 2px solid $col-bord-1;
        border-radius: 12px;
        @include popins-normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: $col-backg-2;
      }
      .price-reset{
        text-align: center;
        width: 78px;
        height: 48px;
        @include popins-normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: $col-text-3;
      }
    }
  }
}