@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');

@import "../partials/variables";
@import "../partials/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 45px;
  background: $col-backg-2;

  ul {
    @include reset-list;

    li {
      display: inline-flex;
      @include open-sans-normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-line-1;

      &:first-child {
        margin-left: 45px;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: $col-text-3;
      }
    }
  }
}

.category-name {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background: $col-backg-2;

  .right-content {
    display: flex;
    align-items: center;
  }

  H1 {
    margin: 0;
    padding: 0;
    margin-left: 45px;
    @include popins-normal;
    font-weight: 600;
    font-size: 32px;
    color: $col-line-1;
  }

  i {
    font-size: 12px;
    color: $col-text-1;

    &:last-child {
      color: $col-text-3;
    }
  }

  span {
    margin-right: 25px;
    @include open-sans-normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $col-line-1;

    &:nth-child(1) {
      color: $col-text-3;
    }

    &:last-child {
      margin-right: 45px;
      color: $col-text-3;
    }
  }

  .nr-products {
    text-align: center;
    margin-right: 4px;
    width: 32px;
    height: 18px;
    background: $col-backg-4;
    border-radius: 12px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-4;
  }

}
