@import "../partials/variables";
@import "../partials/mixins";

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 45px;
  background: $col-backg-2;

  ul {
    @include reset-list;

    li {
      display: inline-flex;
      @include open-sans-normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $col-line-1;

      &:first-child {
        margin-left: 45px;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
        color: $col-text-3;
      }
    }
  }
}

.category-name {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background: $col-backg-2;

  .right-content {
    display: flex;
    align-items: center;
  }

  h1 {
    padding: 0;
    margin: 0 0 0 45px;
    @include popins-normal;
    font-weight: 600;
    font-size: 32px;
    color: $col-line-1;
  }

  i {
    font-size: 12px;
    color: $col-text-1;

    &:last-child {
      color: $col-text-3;
    }
  }

  span {
    margin-right: 25px;
    @include open-sans-normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $col-text-3;

  }

  .current-view {
    color: $col-line-1;
  }

  .current-view-icon {
    color: $col-text-1;
  }

  .nr-products {
    text-align: center;
    margin-right: 4px;
    width: 32px;
    height: 18px;
    background: $col-backg-4;
    border-radius: 12px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-4;
  }

}

.filters-select {
  display: flex;
  justify-content: flex-start;

  span {
    @include open-sans-normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $col-line-1;
  }

  label {
    margin-left: 10px;
    margin-right: 16px;
    @include open-sans-normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $col-line-1;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    margin-left: 8px;
    font-size: 6px;

    &:hover {
      cursor: pointer;
    }
  }

  .filter-one {
    margin-left: 45px;
    @include filter-select-container;
  }

  .filter-second {
    @include filter-select-container;
  }

  .filter-three {
    @include filter-select-container;

    span {
      @include popins-normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .oval {
    width: 46px;
    @include filter-oval-values;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-line-1;
  }

  input {
    padding: 0;
    margin: 0 0 0 18px;
  }

  .filter-last {
    @include filter-select-container;
    @include open-sans-normal;

    .number {
      width: 28px;
      @include filter-oval-values;
      @include open-sans-normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }

    .vertline {
      height: 20px;
      width: 24px;
      border-left: 1px solid $col-div-1;


    }
  }
}

.active-filters {
  display: flex;
  text-align: center;

  span {
    margin-left: 45px;
    margin-top: 16px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-3;
  }

  .applied-filter {
    margin-left: 12px;
    margin-top: 16px;
    width: 118px;
    height: 18px;
    background: $col-backg-4;
    border-radius: 12px;
    @include popins-normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $col-text-1;
  }
}

.categories-column {
  display: block;

  .categories-title {
    margin-left: 45px;
    @include popins-normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $col-line-1;
  }

  .category-products-num {
    display: flex;
    justify-content: space-between;

    span {
      margin-left: 45px;
      margin-bottom: 12px;
      @include open-sans-normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $col-line-1;
    }

    .numbers-of {
      width: 38px;
      height: 18px;
      background: $col-backg-4;
      border-radius: 12px;
      @include popins-normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $col-text-1;
    }
  }
}