@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');

@import "../partials/variables";
@import "../partials/mixins";

.title-headline {
  width: 1170px;
  margin-left: 45px;
  display: inline-flex;
  justify-content: space-between;

  span {
    padding-top: 70px;
    @include popins-normal;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $col-text-2;
  }

  .headline-buton {
    margin-top: 70px;
    span {
      @include popins-normal;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $col-text-2;
    }

    a:link {
      text-decoration: none;
      color: $col-text-2;
    }

    a:visited {
      text-decoration: none;
      color: $col-text-2;
    }

    i {
      padding: 0;
      align-self: center;
      font-size: 20px;
      color: $col-text-4;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

.headline-products {
  display: flex;
}
