@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');

@import "../partials/variables";
@import "../partials/mixins";

.testimonials-head {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  width: 1170px;

  span {
    margin-top: 69px;
    @include popins-normal;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $col-line-1;
  }

  .testimonials-button {
    display: flex;
    align-self: center;
    top: 65px;
    height: 35px;
    width: 98px;

    @include popins-normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $col-line-1;
    background: $col-backg-2;
    border-radius: 12px;

    i {
      color: $col-text-4;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;

  .faders {
    position: absolute;
    width: 100%;
    height: 100%;

    .left,
    .right {
      position: absolute;
      z-index: 2;
      width: 20%;
      height: 100%;
    }

    .left {
      background: linear-gradient(
                      to right,
                      rgba(245, 245, 245, 1) 0%,
                      rgba(255, 255, 255, 0) 100%
      );
    }

    .right {
      right: 0;
      background: linear-gradient(
                      to left,
                      rgba(245, 245, 245, 1) 0%,
                      rgba(255, 255, 255, 0) 100%
      );
    }
  }

  .items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 60s infinite alternate linear;

    .entry {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 369px;
      background-color: $col-backg-2;
      margin: 1em;
      padding: 0.5em;
      border-radius: 12px;
      border: 1px solid $col-bord-2;

      .circle {
        top: 207px;
        position: absolute;
        width: 48px;
        height: 48px;
        background: #F5F5F5;
        border-radius: 50%;
      }

      p {
        padding: 1em;
        text-align: center;
        @include popins-normal;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: $col-text-3;
      }

      .name {
        @include popins-normal;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: $col-line-1;
      }
    }
  }
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
}

