.row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1260px;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-1 {
    width: 8.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    display: inline-flex;
  }
}
.col-2 {
  width: 16.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-2 {
    width: 16.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-2 {
    width: 16.6666666667%;
    display: inline-flex;
  }
}
.col-3 {
  width: 25%;
}

@media (max-width: 1024px) {
  .col-md-3 {
    width: 25%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-3 {
    width: 25%;
    display: inline-flex;
  }
}
.col-4 {
  width: 33.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-4 {
    width: 33.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-4 {
    width: 33.3333333333%;
    display: inline-flex;
  }
}
.col-5 {
  width: 41.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-5 {
    width: 41.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-5 {
    width: 41.6666666667%;
    display: inline-flex;
  }
}
.col-6 {
  width: 50%;
}

@media (max-width: 1024px) {
  .col-md-6 {
    width: 50%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-6 {
    width: 50%;
    display: inline-flex;
  }
}
.col-7 {
  width: 58.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-7 {
    width: 58.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-7 {
    width: 58.3333333333%;
    display: inline-flex;
  }
}
.col-8 {
  width: 66.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-8 {
    width: 66.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-8 {
    width: 66.6666666667%;
    display: inline-flex;
  }
}
.col-9 {
  width: 75%;
}

@media (max-width: 1024px) {
  .col-md-9 {
    width: 75%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-9 {
    width: 75%;
    display: inline-flex;
  }
}
.col-10 {
  width: 83.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-10 {
    width: 83.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
    display: inline-flex;
  }
}
.col-11 {
  width: 91.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-11 {
    width: 91.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-11 {
    width: 91.6666666667%;
    display: inline-flex;
  }
}
.col-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-md-12 {
    width: 100%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-12 {
    width: 100%;
    display: inline-flex;
  }
}
.page-top {
  width: 1170px;
  display: flex;
  flex-direction: column;
}
.page-top .top-bar {
  height: 48px;
  align-items: center;
  display: flex;
}
.page-top .top-bar .contact {
  text-align: left;
}
.page-top .top-bar .top-right-menu {
  text-align: right;
}
.page-top .top-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-top .top-bar ul .color-2 {
  color: #151515;
}
.page-top .top-bar ul li {
  padding-left: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  display: inline;
}
.page-top .top-bar ul li:hover {
  cursor: pointer;
}
.page-top .top-bar ul li:first-child {
  padding-left: 0;
}
.page-top .line {
  display: flex;
  align-self: center;
  width: 1170px;
  opacity: 0.05;
  border: 1px solid #151515;
}
.page-top .search-bar {
  width: 1170px;
  height: 130px;
  display: inline;
  flex-direction: column;
  align-content: center;
}
.page-top .search-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
