@import "grid-system/grid";

@import "general/footer";
@import "general/listing-products";
@import "general/menu";
@import "general/top";

@import "partials/classes";
@import "partials/mixins";
@import "partials/variables";

@import "sections/page-top";
@import "sections/category-menu";
@import "sections/best-selling";
@import "sections/testimonials";
@import "sections/section-headline";
@import "sections/section-blogpreview";
@import "sections/section-footer";
@import "sections/product-grid";


body {
  background: $col-backg-1;
  margin: 0;
  padding: 0;
}

.category-page {
  height: 410px;
  background: $col-backg-2;
}

.best-selling {
  height: 460px;
  background: $col-backg-2;
}

.testimonials {
  justify-content: center;
  height: 425px;
  background: $col-backg-1;
}

.headline {
  height: 530px;
  background: $col-backg-2;
}

.section-blog {
  height: 596px;
  background: $col-backg-2;
}

.footer {
  height: 556px;
  background: $col-backg-2;
}