@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap");
.row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1260px;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-1 {
    width: 8.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    display: inline-flex;
  }
}
.col-2 {
  width: 16.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-2 {
    width: 16.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-2 {
    width: 16.6666666667%;
    display: inline-flex;
  }
}
.col-3 {
  width: 25%;
}

@media (max-width: 1024px) {
  .col-md-3 {
    width: 25%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-3 {
    width: 25%;
    display: inline-flex;
  }
}
.col-4 {
  width: 33.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-4 {
    width: 33.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-4 {
    width: 33.3333333333%;
    display: inline-flex;
  }
}
.col-5 {
  width: 41.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-5 {
    width: 41.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-5 {
    width: 41.6666666667%;
    display: inline-flex;
  }
}
.col-6 {
  width: 50%;
}

@media (max-width: 1024px) {
  .col-md-6 {
    width: 50%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-6 {
    width: 50%;
    display: inline-flex;
  }
}
.col-7 {
  width: 58.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-7 {
    width: 58.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-7 {
    width: 58.3333333333%;
    display: inline-flex;
  }
}
.col-8 {
  width: 66.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-8 {
    width: 66.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-8 {
    width: 66.6666666667%;
    display: inline-flex;
  }
}
.col-9 {
  width: 75%;
}

@media (max-width: 1024px) {
  .col-md-9 {
    width: 75%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-9 {
    width: 75%;
    display: inline-flex;
  }
}
.col-10 {
  width: 83.3333333333%;
}

@media (max-width: 1024px) {
  .col-md-10 {
    width: 83.3333333333%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%;
    display: inline-flex;
  }
}
.col-11 {
  width: 91.6666666667%;
}

@media (max-width: 1024px) {
  .col-md-11 {
    width: 91.6666666667%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-11 {
    width: 91.6666666667%;
    display: inline-flex;
  }
}
.col-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-md-12 {
    width: 100%;
    display: inline-flex;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .col-md-12 {
    width: 100%;
    display: inline-flex;
  }
}
.page-header {
  background: #FFFFFF;
}

.page-top {
  width: 1170px;
  display: flex;
  flex-direction: column;
}
.page-top .top-bar {
  height: 48px;
  align-items: center;
  display: flex;
}
.page-top .top-bar .contact {
  text-align: left;
}
.page-top .top-bar .top-right-menu {
  text-align: right;
}
.page-top .top-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-top .top-bar ul .color-2 {
  color: #151515;
}
.page-top .top-bar ul li {
  padding-left: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  display: inline;
}
.page-top .top-bar ul li:hover {
  cursor: pointer;
}
.page-top .top-bar ul li:first-child {
  padding-left: 0;
}
.page-top .line {
  display: flex;
  align-self: center;
  width: 1170px;
  opacity: 0.05;
  border: 1px solid #151515;
}
.page-top .search-bar {
  width: 1170px;
  height: 130px;
  display: flex;
  align-items: center;
}
.page-top .search-bar .logo {
  justify-content: left;
}
.page-top .search-bar .logo img {
  margin: 45px;
}
.page-top .search-bar .search {
  display: flex;
  justify-content: center;
}
.page-top .search-bar .search .search-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.page-top .search-bar .search .search-box .vline {
  height: 20px;
  width: 0;
  margin-left: 29px;
  border: 1px solid #D1D1D1;
}
.page-top .search-bar .search .search-box .icon-arrow-down {
  font-size: 8px;
  color: #6A983C;
}
.page-top .search-bar .search .search-box .icon-arrow-down:hover {
  cursor: pointer;
}
.page-top .search-bar .search .search-box .categories {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.page-top .search-bar .search .search-box .categories:hover {
  cursor: pointer;
}
.page-top .search-bar .search .search-box span {
  flex-grow: 2;
  margin-left: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.page-top .search-bar .search .search-box .icon-search {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  font-size: 14px;
}
.page-top .search-bar .search .search-box .icon-search:hover {
  cursor: pointer;
}
.page-top .search-bar .search-right {
  display: flex;
  justify-content: right;
}
.page-top .search-bar .search-right i {
  font-size: 20px;
}
.page-top .search-bar .search-right i:hover {
  cursor: pointer;
}
.page-top .search-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-top .search-bar ul li {
  display: inline;
}

.mainmenu {
  display: flex;
  align-items: center;
  height: 55px;
  width: 1260px;
  background: #F9F9F9;
}
.mainmenu span {
  margin-left: 45px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.mainmenu span:hover {
  cursor: pointer;
}
.mainmenu i {
  margin-left: 6px;
  font-size: 6px;
  color: #6A983C;
}
.mainmenu i:hover {
  cursor: pointer;
}

.left-menu .left-menu-category {
  display: flex;
  flex-direction: column;
}
.left-menu .left-menu-category .title {
  margin-top: 64px;
  margin-left: 45px;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: none;
  color: #151515;
}
.left-menu .left-menu-category span {
  margin-bottom: 12px;
  margin-left: 45px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #6A983C;
}
.left-menu .more-button {
  display: flex;
  align-items: center;
  margin-top: 36px;
  margin-left: 45px;
  width: 179px;
  height: 48px;
  background: #F5F5F5;
  border-radius: 12px;
}
.left-menu .more-button span {
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.left-menu .more-button i {
  margin-left: 6px;
  font-size: 18px;
}

.category-photos {
  display: flex;
  align-items: center;
}
.category-photos .banner {
  margin-left: 31px;
  width: 420px;
  height: 280px;
  background: #F4F8EC;
  border-radius: 12px;
}
.category-photos .banner span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}

body {
  background: #F9F9F9;
}

.category-page {
  height: 410px;
  background: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
