@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');

@import "grid-system/grid"; // the grid

@import "general/listing-products";
@import "general/menu";
@import "general/top";

@import "partials/classes";
@import "partials/mixins";
@import "partials/variables";

@import "sections/page-top";
@import "sections/category-menu";
@import "sections/best-selling";
@import "sections/testimonials";
@import "sections/section-headline";
@import "sections/section-blogpreview";
@import "sections/section-footer";
@import "sections/product-grid";


body {
  background: $col-backg-1;
  margin: 0;
  padding: 0;
}

.category-page {
  height: 410px;
  background: $col-backg-2;
}

.best-selling {
  height: 460px;
  background: $col-backg-2;
}

.testimonials {
  justify-content: center;
  height: 425px;
  background: $col-backg-1;
}

.headline {
  height: 530px;
  background: $col-backg-2;
}

.section-blog {
  height: 596px;
  background: $col-backg-2;
}

.footer {
  height: 556px;
  background: $col-backg-2;
}

.filter-bar{
  display: block;
  height: 108px;
  background: $col-backg-2;
}

.product-categories-grid{
  height: 1304px;
  background: $col-backg-2;
}

.more-products{
  height: 80px;
  background: $col-backg-2;
}