@import "grid-system/grid";

@import "general/footer";
@import "general/listing-products";
@import "general/menu";
@import "general/top";

@import "partials/classes";
@import "partials/mixins";
@import "partials/variables";

@import "sections/page-top";
@import "sections/category-menu";

body{
  background: $col-backg-1;
}

.category-page{
  height: 410px;
  background: $col-backg-2;
}

