
.icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-arrow-left:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-arrow-top-bottom:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-star-light:before { content: '\e808'; } /* '' */
.icon-compare:before { content: '\e809'; } /* '' */
.icon-star-full:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
